.select__control-with-label__label {
  color: var(--rs-control-with-label-label-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.select__control-with-label__value-indicator {
  .react-select__dropdown-indicator {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
