/* ********************** 인풋 컨테이너 **********************  */
.react-datepicker__input-container {
  cursor: pointer;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--dp-input-container-border-color);
  background: var(--dp-input-container-background-color);

  &:has(input:disabled) {
    border-color: var(--dp-input-container-disabled-border-color);
  }

  .date-picker__custom-input-container {
    /* --------- */
    /* 커스텀 영역  */
    /* --------- */
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
    padding: 0 16px;

    input {
      flex: 1;

      min-width: 0;
      height: 100%;
      border: none;
      outline: none;

      color: var(--dp-input-text-color);
      font-size: 16px;
      line-height: normal;

      &:disabled {
        color: var(--dp-input-disabled-text-color);

        &::placeholder {
          color: var(--dp-input-disabled-text-color);
        }
      }

      &::placeholder {
        color: var(--dp-input-placeholder-color);
      }
    }

    &:has(input:disabled) {
      cursor: not-allowed;
      background-color: var(--dp-input-container-disabled-background-color);
    }

    /* 키보드 포커스일 때만 outline */
    &:has(input:focus-visible) {
      outline: 2px solid var(--dp-input-focus-outline-color);
      outline-offset: 2px;
      border-radius: 4px;
    }
  }

  svg {
    flex-shrink: 0;
  }

  .react-datepicker__close-icon {
    content: url('/assets/icons/clear.svg');
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 16px;
  }
}
