// 함수형 애니메이션 (매개변수 받는 버전)
@mixin modal-animation($x, $y) {
  opacity: 0;
  transform: translate3d(
      #{if(type-of($x) == number, $x + px, $x)},
      #{if(type-of($y) == number, $y + px, $y)},
      0
    )
    scale(0.9);
  transition:
    transform 300ms ease-in-out,
    opacity 300ms ease-in-out;

  &.ReactModal__Content--after-open {
    opacity: 1;
    transform: translate3d(
        #{if(type-of($x) == number, $x + px, $x)},
        #{if(type-of($y) == number, $y + px, $y)},
        0
      )
      scale(1);
  }

  &.ReactModal__Content--before-close {
    opacity: 0;
    transform: translate3d(
        #{if(type-of($x) == number, $x + px, $x)},
        #{if(type-of($y) == number, $y + px, $y)},
        0
      )
      scale(0.9);
  }
}

// 센터 애니메이션 (고정값 버전)
@mixin modal-center-animation {
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0.9);
  transition:
    transform 300ms ease-in-out,
    opacity 300ms ease-in-out;

  &.ReactModal__Content--after-open {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }

  &.ReactModal__Content--before-close {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.9);
  }
}
