@import '@repo/design-tokens/colors/index.css';

.box {
  background: var(--color-white);
  padding: 16px;
  border-radius: 8px;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid var(--color-gray-200);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
